/*animations*/

@keyframes gradient {
  0% {
    background-position: 0% 4%;
  }
  50% {
    background-position: 100% 97%;
  }
  100% {
    background-position: 0% 4%;
  }
}

body {
  background: linear-gradient(130deg, #000000, #2e3a42);
  animation: gradient 10s ease infinite;
  background-size: 300% 300%;
}


/*navigator*/

.nav-desk {
  text-align: right;
  padding: 50px 0px;
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
  width: 100%;
  max-width: 1080px;
  z-index: 99999;
  color: white;
  transition: .3s;
  letter-spacing: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.list {
  opacity: .5;
  cursor: pointer;
  margin-right: 37px;
  transition: 0.3s;
}

.list:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .nav-desk {
    display: none;
  }
  .list, .nav-doc {
    display: none;
  }
  span {
    margin-left: 20px;
  }
}


/* Hero page */

a {
  text-decoration: none;
}

.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: .5s;
  background-image: url(assets/wall.jpg);
}

video {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-50%);
  display: none;
}

.overlay-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-hero img {
  position: absolute;
  max-width: 1080px;
  width: 90vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

#scroll-icon {
  width: 30px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}

#scroll-icon.scrolled {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 100vh;
  }
  video {
    display: none;
  }
}


/* works panel */

.works {
  width: 100%;
  display: flex;
  height: calc(100vw/3);
}

.work_item {
  position: relative;
  flex: 1;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
}

.overlay {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 1s;
}

.poster {
  background-image: url("assets/POSTER.jpg");
}

.illustration {
  background-image: url("assets/ill.jpg");
}

.interactive {
  background-image: url("assets/ui.png");
}

.overlay.hover {
  opacity: .8;
}

.tag {
  letter-spacing: 2px;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -2%);
  border: 3px solid white;
  color: white;
  padding: 24px;
  opacity: 0;
  transition: 0.3s;
}

.tag hr {
  opacity: .4;
}

.tag.hover {
  transform: translate(-50%, -50%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .works {
    display: block;
    height: auto;
  }
  .work_item {
    height: 400px;
    margin: 10px 0;
  }
  .tag {
    margin-left: 0px;
  }
}


/*about*/

.intro {
  padding: 80px;
}

.intro-text {
  background: color: white;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  width: 90%;
  color: white;
  letter-spacing: 2px;
  line-height: 60px;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 5vw;
  }
  .intro-text {
    font-size: 15px;
    line-height: 40px;
  }
}


/* contact */

.about {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  color: white;
  padding: 120px 0px 120px 0px;
}

.about img {
  z-index: 3;
  width: 90vw;
  max-width: 1080px;
}

.icon-tom {
  opacity: 1;
  margin: 0px auto 0px auto;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.wrapper-about {
  z-index: 3;
  margin: 60px auto 0 auto;
  max-width: 1080px;
  display: flex;
}

.item-wrapper {
  letter-spacing: 1px;
  text-align: center;
  padding: 0 30px 0 30px;
  flex: 1;
  border-left: 1px solid rgba(255, 255, 255, .2);
}

#last-item {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

#last-item a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width:768px) {
  .about {
    padding: 80px 0px 20px 0px;
  }
  .text-wrapper {
    display: block;
  }
  .wrapper-about {
    margin: 20px auto;
    width: 90%;
    display: block;
  }
  .item-wrapper {
    border: 1px solid rgba(255, 255, 255, .2);
    text-align: left;
    padding: 18px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}


/*footer*/

.footer {
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'PT Sans', sans-serif;
  color: rgba(255, 255, 255, 0.2);
  background-color: black;
  padding: 30px;
  text-align: center;
}

.keep-in-touch LOL {
  color: white;
  margin: 0 auto;
}


/*portfolio*/

.portfolio {
  background-color: black;
  position: relative;
  padding-bottom: 5vw;
}

.portfolio img {
  width: 200px;
  margin: 5vw auto;
}

.por-wrapper {
  margin: 0 auto;
  width: 95%;
  height: 340px;
  overflow-x: scroll;
  white-space: nowrap;
}

.por-wrapper div {
  display: inline-block;
  height: 320px;
  width: 320px;
  margin: 0 10px 0 0;
  border: 1px solid white;
}
